body {
    border: 2px solid green;
    height: 70vh;
    width: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.card {
    border: 2px solid blue;
    height: 5vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}