* {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap');

body {
    overflow-x: hidden;
}

@media (min-width: 900px) {
    header {
        position: fixed;
        top: 0;
        border: 1px solid red;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
    }
    #app-title {
        border: 1px solid green;
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        border: 3px solid yellow;
        width: 100vw;
        height: 90vh;
        background: url('../img/bois') center;
        background-size: cover;
        margin-top: 10vh;
    }
    #catch-phrase-ctn {
        border: 3px solid violet;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #catch-phrase-box {
        border: 3px solid orange;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.308);
        font-family: 'Poller One', cursive;
        font-size: 2.5em;
        /* text-shadow: 0 4px black; */
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    footer {
        border: 2px solid blue;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}