* {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap');

body {
    overflow-x: hidden;
}

@media (min-width: 900px) {
    header {
        position: fixed;
        top: 0;
        border: 1px solid red;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
    }
    #app-title {
        border: 1px solid green;
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 10vh; 
    }
    #catch-phrase-ctn {
        border: 3px solid violet;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #catch-phrase-box {
        border: 3px solid orange;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.308);
        font-family: 'Poller One', cursive;
        font-size: 2.5em;
        /* text-shadow: 0 4px black; */
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    #card-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 75px;
    }
    .card {
        height: 350px;
        width: 350px;
        box-shadow: -2px 2px 10px black;
        margin: 15px;
    }
    .card h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Rajdhani', sans-serif;
    }
    .card img {
        height: 80%;
        width: 100%;
    }
    footer {
        border: 2px solid blue;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}