

.imgOne {
    border: 2px solid red;
    height: 100px;
    width: 100px;
}
.imgTwo {
    border: 2px solid green;
    height: 100px;
    width: 100px;
}
li:nth-child(2n){
    background-color: blue
}