@import url('https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap');
.hidden{
 display:none;   
}

.jobby-img {
    background: url("../img/jobby-image.jpg") center;
    background-size: cover;
}

.poller {
    font-family: 'Poller One', cursive;
}

.courgette {
    font-family: 'Courgette', cursive;
}

.rajdhani {
    font-family: 'Rajdhani', sans-serif;
}

.h-15 {
    height: 15vh;
}

.h-85 {
    height: 85vh;
}
a {
    text-decoration: none !important;
}

.border-red {
    border: 1px solid red;
}
