@import url('https://fonts.googleapis.com/css?family=Courgette|Rajdhani|Abril+Fatface|Poller+One&display=swap');
:root {
    /* FONTS */
    --font-one: 'Courgette', cursive;
    --font-two: 'Poller One', cursive;
    --font-three: 'Rajdhani', sans-serif;
    /* COLORS */
    --dark: #282828;
    --light: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    body {
        background: url('../img/404.jpg') center no-repeat;
        background-size: contain;
    }
    .error-404 {
        border: 1px solid red;
        height: 100vh;
        width: 33.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .number {
        font-size: 5rem;
        color: var(--light);
        font-family: var(--font-two);
    }
    #sorry {
        color: var(--dark);
        font-size: 1.5rem;
        height: 200px;
        width: 90vw;
        margin-left: 5vw;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        /* border: 1px solid red; */
    }
    #home {
        color: var(--dark);
        font-size: 1.5rem;
        bottom: 0;
        height: 200px;
        width: 90vw;
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: var(--font-one);
        /* border: 1px solid red; */
    }
    .error-404:first-child {
        position: fixed;
        top: 0;
        left: -34vw;
        animation: left-to-right 1s ease-in-out forwards;
        -webkit-animation: left-to-right 1s ease-in-out forwards;
    }
    .error-404:nth-child(2) {
        position: fixed;
        left: 33.33vw;
        bottom: -100vw;
        animation: bottom-to-top 1s ease-in-out forwards;
        -webkit-animation: bottom-to-top 1s ease-in-out forwards;
    }
    .error-404:nth-child(3) {
        position: fixed;
        top: 0;
        left: 100vw;
        animation: right-to-left 1s ease-in-out forwards;
        -webkit-animation: right-to-left 1s ease-in-out forwards;
    }
    @keyframes left-to-right {
        100% {
            left: 0vw;
        }
    }
    @keyframes bottom-to-top {
        100% {
            bottom: 0vw;
        }
    }
    @keyframes right-to-left {
        100% {
            left: 66.66vw;
        }
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    body {
        background: url('../img/404.jpg') center no-repeat;
        background-size: cover;
    }
    .error-404 {
        /* border: 1px solid red; */
        height: 100vh;
        width: 33.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: lightgrey;
    }
    .number {
        font-size: 5rem;
        color: var(--light);
        font-family: var(--font-two);
    }
    #sorry {
        color: var(--dark);
        font-size: 2rem;
        position: fixed;
        height: 100px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
    }
    #home {
        color: var(--dark);
        font-size: 2rem;
        position: fixed;
        bottom: 0;
        height: 100px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
    }
    .error-404:first-child {
        position: fixed;
        left: -34vw;
        animation: left-to-right 1s ease-in-out forwards;
        -webkit-animation: left-to-right 1s ease-in-out forwards;
    }
    .error-404:nth-child(2) {
        position: fixed;
        left: 33.33vw;
        bottom: -100vw;
        animation: bottom-to-top 1s ease-in-out forwards;
        -webkit-animation: bottom-to-top 1s ease-in-out forwards;
    }
    .error-404:nth-child(3) {
        position: fixed;
        left: 100vw;
        animation: right-to-left 1s ease-in-out forwards;
        -webkit-animation: right-to-left 1s ease-in-out forwards;
    }
    @keyframes left-to-right {
        100% {
            left: 0vw;
        }
    }
    @keyframes bottom-to-top {
        100% {
            bottom: 0vw;
        }
    }
    @keyframes right-to-left {
        100% {
            left: 66.66vw;
        }
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    body {
        background: url('../img/404.jpg') center no-repeat;
        background-size: cover;
    }
    .error-404 {
        /* border: 1px solid red; */
        height: 100vh;
        width: 33.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .number {
        font-size: 5rem;
        color: var(--light);
        font-family: var(--font-two);
    }
    #sorry {
        color: var(--dark);
        font-size: 2rem;
        height: 200px;
        width: 90vw;
        margin-left: 5vw;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        /* border: 1px solid red; */
    }
    #home {
        color: var(--dark);
        font-size: 2rem;
        bottom: 0;
        height: 200px;
        width: 90vw;
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        /* border: 1px solid red; */
    }
    .error-404:first-child {
        position: fixed;
        top: 0;
        left: -34vw;
        animation: left-to-right 1s ease-in-out forwards;
        -webkit-animation: left-to-right 1s ease-in-out forwards;
    }
    .error-404:nth-child(2) {
        position: fixed;
        left: 33.33vw;
        bottom: -100vw;
        animation: bottom-to-top 1s ease-in-out forwards;
        -webkit-animation: bottom-to-top 1s ease-in-out forwards;
    }
    .error-404:nth-child(3) {
        position: fixed;
        top: 0;
        left: 100vw;
        animation: right-to-left 1s ease-in-out forwards;
        -webkit-animation: right-to-left 1s ease-in-out forwards;
    }
    @keyframes left-to-right {
        100% {
            left: 0vw;
        }
    }
    @keyframes bottom-to-top {
        100% {
            bottom: 0vw;
        }
    }
    @keyframes right-to-left {
        100% {
            left: 66.66vw;
        }
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    body {
        background: url('../img/404.jpg') center no-repeat;
        background-size: cover;
    }
    .error-404 {
        /* border: 1px solid red; */
        height: 100vh;
        width: 33.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: lightgrey;
    }
    .number {
        font-size: 5rem;
        color: var(--light);
        font-family: var(--font-two);
    }
    #sorry {
        color: var(--dark);
        font-size: 2rem;
        position: fixed;
        height: 100px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
    }
    #home {
        color: var(--dark);
        font-size: 2rem;
        position: fixed;
        bottom: 0;
        height: 100px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
    }
    .error-404:first-child {
        position: fixed;
        left: -34vw;
        animation: left-to-right 1s ease-in-out forwards;
        -webkit-animation: left-to-right 1s ease-in-out forwards;
    }
    .error-404:nth-child(2) {
        position: fixed;
        left: 33.33vw;
        bottom: -100vw;
        animation: bottom-to-top 1s ease-in-out forwards;
        -webkit-animation: bottom-to-top 1s ease-in-out forwards;
    }
    .error-404:nth-child(3) {
        position: fixed;
        left: 100vw;
        animation: right-to-left 1s ease-in-out forwards;
        -webkit-animation: right-to-left 1s ease-in-out forwards;
    }
    @keyframes left-to-right {
        100% {
            left: 0vw;
        }
    }
    @keyframes bottom-to-top {
        100% {
            bottom: 0vw;
        }
    }
    @keyframes right-to-left {
        100% {
            left: 66.66vw;
        }
    }
}

@media (min-width: 900px) and (orientation: landscape) {
    body {
        background: url('../img/404.jpg') center no-repeat;
        background-size: cover;
    }
    .error-404 {
        /* border: 1px solid red; */
        height: 100vh;
        width: 33.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: lightgrey;
        font-family: var(--font-two);
    }
    .number {
        font-size: 30rem;
        font-family: var(--font-two);
    }
    #sorry {
        color: var(--dark);
        font-size: 4rem;
        position: fixed;
        height: 200px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
    }
    #home {
        color: var(--dark);
        font-size: 5rem;
        position: fixed;
        bottom: 0;
        height: 200px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
    }
    .error-404:first-child {
        position: fixed;
        left: -34vw;
        animation: left-to-right 1s ease-in-out forwards;
        -webkit-animation: left-to-right 1s ease-in-out forwards;
    }
    .error-404:nth-child(2) {
        position: fixed;
        left: 33.33vw;
        bottom: -100vw;
        animation: bottom-to-top 1s ease-in-out forwards;
        -webkit-animation: bottom-to-top 1s ease-in-out forwards;
    }
    .error-404:nth-child(3) {
        position: fixed;
        left: 100vw;
        animation: right-to-left 1s ease-in-out forwards;
        -webkit-animation: right-to-left 1s ease-in-out forwards;
    }
    @keyframes left-to-right {
        100% {
            left: 0vw;
        }
    }
    @keyframes bottom-to-top {
        100% {
            bottom: 0vw;
        }
    }
    @keyframes right-to-left {
        100% {
            left: 66.66vw;
        }
    }
}