* {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    /* font-family: 'Courgette', cursive;  */
}

@import url('https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani|Poiret+One&display=swap');
/* 
font-family: 'Courgette', cursive;

font-family: 'Poller One', cursive;

font-family: 'Rajdhani', sans-serif; 

font-family: 'Poiret One', cursive;
*/

/* 
@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {}
@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {}
@media (min-width: 600px) and (orientation: portrait) {}
@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {} 
*/

@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    body {
        overflow-x: hidden;
    }
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.2em;
        font-family: 'Courgette', cursive;
    }
    #menu-icon {
        /* border: 3px solid blue; */
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-open {
        position: fixed;
        /* border: 1px solid blue; */
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        left: 0;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        font-family: 'Courgette', cursive;
        font-size: 3rem;
    }
    .menu-close {
        position: fixed;
        /*border: 1px solid blue;
        */
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        top: 10vh;
        left: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        font-family: 'Courgette', cursive;
        font-size: 3rem;
    }
    .menu-item {
        color: white;
    }
    main {
        margin: 15vh 5vw;
    }
    h2 {
        /* border: 2px solid red; */
        height: 25vh;
        font-family: 'Poller One', cursive;
        font-size: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    p {
        font-family: 'Poiret One', cursive;
        font-size: 2rem;
    }
    strong {
        font-family: 'Poiret One', cursive;
        font-size: 2rem;
        font-weight: bold;
        color: #0074B3;
    }
    #value {
        /* border: 2px solid green; */
        /* height: 25vh; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 5em;
    }
    .icon {
        /* border: 2px solid blue; */
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 12rem;
        margin: 25px 0;
    }
    .text {
        /* border: 2px solid orange; */
        font-size: 4rem;
        margin: 0;
        text-align: center;
    }
    
    #slogan-box {
        width: 400px;
        height: 100px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        padding: 0 25px;
        font-size: .9em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .btn-box {
        /* border: 3px solid violet; */
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        background: white;
        width: 100vw;
        height: 20vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .9em;
    }
    main {
        margin: 20vh 5vw;
    }
    h2 {
        /* border: 2px solid red; */
        height: 25vh;
        font-family: 'Poller One', cursive;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
    }
    strong, a {
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
        font-weight: bold;
        color: #0074B3;
    }
    #value {
        /* border: 2px solid green; */
        height: 25vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 5em;
    }
    .icon {
        /* border: 2px solid blue; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
    }
    .text {
        font-size: 2rem;
        margin: 0;
    }
    #slogan-box {
        width: 400px;
        height: 75px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        padding: 0 25px;
        font-size: .9em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .btn-box {
        /* border: 3px solid violet; */
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
    footer i {
        font-size: 1em;
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        background: white;
        width: 100vw;
        height: 20vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .9em;
    }
    main {
        margin: 20vh 5vw;
    }
    h2 {
        /* border: 2px solid red; */
        height: 25vh;
        font-family: 'Poller One', cursive;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
    }
    strong, a {
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
        font-weight: bold;
        color: #0074B3;
    }
    #value {
        /* border: 2px solid green; */
        height: 25vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 5em;
    }
    .icon {
        /* border: 2px solid blue; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
    }
    .text {
        font-size: 2rem;
        margin: 0;
    }
    #slogan-box {
        width: 400px;
        height: 75px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        padding: 0 25px;
        font-size: .9em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .btn-box {
        /* border: 3px solid violet; */
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 33px;
    }
    footer {
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
    footer i {
        font-size: 1em;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        background: white;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .9em;
    }
    main {
        margin: 10vh 5vw;
    }
    h2 {
        /* border: 2px solid red; */
        height: 25vh;
        font-family: 'Poller One', cursive;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
    }
    strong, a {
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
        font-weight: bold;
        color: #0074B3;
    }
    #value {
        /* border: 2px solid green; */
        height: 25vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 5em;
    }
    .icon {
        /* border: 2px solid blue; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
    }
    .text {
        font-size: 2rem;
        margin: 0;
    }
    #slogan-box {
        width: 400px;
        height: 75px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        padding: 0 25px;
        font-size: .9em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .btn-box {
        /* border: 3px solid violet; */
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
    footer i {
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1, .menu-item {
        font-family: 'Courgette', cursive;
        font-weight: 100;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin: 15vh;
    }
    h2 {
        /* border: 2px solid red; */
        height: 25vh;
        font-family: 'Poller One', cursive;
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        font-family: 'Poiret One', cursive;
        font-size: 3rem;
    }
    strong, a {
        font-family: 'Poiret One', cursive;
        font-size: 3rem;
        font-weight: bold;
        color: #0074B3;
    }
    #value {
        /* border: 2px solid green; */
        height: 25vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 5em;
    }
    .icon {
        /* border: 2px solid blue; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }
    .text {
        font-size: 4rem;
        margin: 0;
    }
    #slogan-box {
        width: 400px;
        height: 100px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        padding: 0 25px;
        font-size: .9em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .btn-box {
        /* border: 3px solid violet; */
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
}

.blue {
    color: #0074B3;
}

.Courgette {
    font-family: 'Courgette', cursive;
}