@import url('https://fonts.googleapis.com/css?family=Courgette|Rajdhani|Abril+Fatface|Poller+One&display=swap');
/*
font-family: 'Courgette', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Poller One', cursive;
*/
:root {
    /* FONTS */
    --font-one: 'Courgette', cursive;
    --font-two: 'Poller One', cursive;
    --font-three: 'Rajdhani', sans-serif;
    /* COLORS */
    --dark: #282828;
    --light: white;
}
/* INDEX */
@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: left;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        margin-top: 10vh;
        position: fixed;
        height: 90vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: var(--dark);
        align-items: center;
        font-family: var(--font-one);
        font-size: 2rem;
        z-index: 1;
        transition: right .3s;
        -webkit-transition: right .3s;
        -moz-transition: right .3s;
        -ms-transition: right .3s;
        -o-transition: right .3s;
    }
    .nav-open {
        right: 0;
    }
    .nav-close {
        right: -100vw;
    }
    #nav a {
        color: var(--light);
    }
    #nav-icon {
        height: 10vh;
        position: fixed;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        font-size: 2rem;
        transition: transform .3s;
        -webkit-transition: transform .3s;
        -moz-transition: transform .3s;
        -ms-transition: transform .3s;
        -o-transition: transform .3s;
    }
    form {
        /* border: 1px solid red; */
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question-ctn {
        width: 85vw;
        /* border: 1px solid green; */
        margin-bottom: 50px;
    }
    h2 {
        width: 85vw;
        font-family: var(--font-two);
        font-size: 2rem;
    }
    h3 {
        margin-bottom: 30px;
        font-family: var(--font-one);
        color: var(--blue)
    }
    input[type=text], input[type=date], input[type=submit], select, textarea {
        width: 100%;
        height: 30px;
        font-family: var(--font-three);
    }
    input[type=submit] {
        border: none;
    }
    label {
        font-family: var(--font-three);
    }
    textarea {
        height: 100px;
    }
    select {
        background: none;
    }
    footer {
        display: flex;
        height: 10vh;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav-icon {
        display: none;
    }
    form {
        /* border: 1px solid red; */
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question-ctn {
        width: 90vw;
        /* border: 1px solid green; */
        margin-bottom: 50px;
    }
    h2 {
        font-family: var(--font-two);
        width: 90vw;
    }
    h3 {
        margin-bottom: 30px;
        font-family: var(--font-one);
        color: var(--blue)
    }
    input[type=text], input[type=date], input[type=submit], select, textarea {
        width: 100%;
        height: 30px;
        font-family: var(--font-three);
    }
    input[type=submit] {
        border: none;
    }
    label {
        font-family: var(--font-three);
    }
    textarea {
        height: 100px;
    }
    select {
        background: none;
    }
    footer {
        display: flex;
        height: 10vh;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 33px;
    }
}
@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav-icon {
        display: none;
    }
    form {
        /* border: 1px solid red; */
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question-ctn {
        width: 600px;
        /* border: 1px solid green; */
        margin-bottom: 50px;
    }
    h2 {
        font-family: var(--font-two);
    }
    h3 {
        margin-bottom: 30px;
        font-family: var(--font-one);
        color: var(--blue)
    }
    input[type=text], input[type=date], input[type=submit], select, textarea {
        width: 100%;
        height: 30px;
        font-family: var(--font-three);
    }
    input[type=submit] {
        border: none;
    }
    label {
        font-family: var(--font-three);
    }
    textarea {
        height: 100px;
    }
    select {
        background: none;
    }
    footer {
        display: flex;
        height: 15vh;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
    }
}
@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav-icon {
        display: none;
    }
    form {
        /* border: 1px solid red; */
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question-ctn {
        width: 90vw;
        /* border: 1px solid green; */
        margin-bottom: 50px;
    }
    h2 {
        font-family: var(--font-two);
        width: 90vw;
    }
    h3 {
        margin-bottom: 30px;
        font-family: var(--font-one);
        color: var(--blue)
    }
    input[type=text], input[type=date], input[type=submit], select, textarea {
        width: 100%;
        height: 30px;
        font-family: var(--font-three);
    }
    input[type=submit] {
        border: none;
    }
    label {
        font-family: var(--font-three);
    }
    textarea {
        height: 100px;
    }
    select {
        background: none;
    }
    footer {
        display: flex;
        height: 15vh;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
    }
}
@media (min-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 2px 5px var(--dark)
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.8rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 2rem;
    }
    #nav-icon {
        display: none;
    }
    form {
        /* border: 1px solid red; */
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question-ctn {
        width: 600px;
        /* border: 1px solid green; */
        margin-bottom: 50px;
    }
    h2 {
        font-family: var(--font-two);
    }
    h3 {
        margin-bottom: 30px;
        font-family: var(--font-one);
        color: var(--blue)
    }
    input[type=text], input[type=date], input[type=submit], select, textarea {
        width: 100%;
        height: 30px;
        font-family: var(--font-three);
    }
    input[type=submit] {
        border: none;
    }
    label {
        font-family: var(--font-three);
    }
    textarea {
        height: 100px;
    }
    select {
        background: none;
    }
    footer {
        display: flex;
        height: 10vh;
        justify-content: space-evenly;
        align-items: center;
    }
}