* {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    /* font-family: 'Courgette', cursive;  */
}

@import url('https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap');
/* 
font-family: 'Courgette', cursive;

font-family: 'Poller One', cursive;

font-family: 'Rajdhani', sans-serif; 
*/

/* 
@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {}
@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {}
@media (min-width: 600px) and (orientation: portrait) {}
@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {} 
@media (min-width: 900px) {}
*/

@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    body {
        overflow-x: hidden;
    }
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.2em;
    }
    #menu-icon {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-open {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        left: 0;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    .menu-close {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /* margin-top: 10vh; */
        top: 10vh;
        left: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s
    }
    .menu-item {
        color: white;
    }
    main {
        margin-top: 10vh;
    }
    #catch-phrase-box {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poller One', cursive;
        font-size: 1.5em;
        text-align: center;
    }
    #card-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        height: 300px;
        width: 300px;
        box-shadow: -2px 2px 10px black;
        margin: 15px;
    }
    .card h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Rajdhani', sans-serif;
    }
    .card img {
        height: 80%;
        width: 100%;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        margin-top: 10vh;
    }
    #catch-phrase-box {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poller One', cursive;
        font-size: 1.8em;
    }
    #card-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        height: 250px;
        width: 250px;
        box-shadow: -2px 2px 10px black;
        margin: 15px;
    }
    .card h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1em;
    }
    .card img {
        height: 80%;
        width: 100%;
    }
    footer {
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
    footer i {
        font-size: .5em;
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        background: white;
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        margin-top: 15vh;
    }
    #catch-phrase-box {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poller One', cursive;
        font-size: 2em;
    }
    #card-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        height: 250px;
        width: 250px;
        box-shadow: -2px 2px 10px black;
        margin: 15px;
    }
    .card h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Rajdhani', sans-serif;
    }
    .card img {
        height: 80%;
        width: 100%;
    }
    footer {
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
    footer i {
        font-size: .5em;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .9em;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 10vh;
    }
    #catch-phrase-box {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poller One', cursive;
        font-size: 2.5em;
    }
    #card-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        height: 300px;
        width: 300px;
        box-shadow: -2px 2px 10px black;
        margin: 15px;
    }
    .card h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Rajdhani', sans-serif;
    }
    .card img {
        height: 80%;
        width: 100%;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 900px) and (max-width: 1370px) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 10vh;
    }
    #catch-phrase-box {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poller One', cursive;
        font-size: 2.5em;
    }
    #card-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        height: 400px;
        width: 400px;
        box-shadow: -2px 2px 10px black;
        margin: 15px;
    }
    .card h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Rajdhani', sans-serif;
    }
    .card img {
        height: 80%;
        width: 100%;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
}

/* 
desktop
*/

@media (min-width: 1371px) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 10vh;
    }
    #catch-phrase-box {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poller One', cursive;
        font-size: 2.5em;
    }
    #card-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 75px;
    }
    .card {
        height: 400px;
        width: 400px;
        box-shadow: -2px 2px 10px black;
        margin: 15px;
    }
    .card h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Rajdhani', sans-serif;
    }
    .card img {
        height: 80%;
        width: 100%;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
}