@import url('https://fonts.googleapis.com/css?family=Courgette|Rajdhani|Abril+Fatface|Poller+One&display=swap');
/* 
font-family: 'Courgette', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Poller One', cursive;

*/

:root {
    /* FONTS */
    --font-one: 'Courgette', cursive;
    --font-two: 'Poller One', cursive;
    --font-three: 'Rajdhani', sans-serif;
    /* COLORS */
    --dark: #282828;
    --light: white;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: 'Courgette', cursive;  */
    /* border: 1px solid red; */
}

/* INDEX */

@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.2em;
    }
    #menu-icon {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-open {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        left: 0;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    .menu-close {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /* margin-top: 10vh; */
        top: 10vh;
        left: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s
    }
    .menu-item {
        color: white;
    }
    main {
        /* border: 1px solid red; */
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/contact.jpg') bottom no-repeat;
        background-size: cover;
    }
    label {
        margin: 10px;
    }
    form {
        /*border: 1px solid red;
        */
        width: 95vw;
        height: 85vh;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    p, label {
        font-size: 1rem;
    }
    h2 {
        display: flex;
        margin: 25px;
    }
    textarea {
        width: 80%;
        height: 25%;
        margin-bottom: 25px;
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .9em;
    }
    main {
        /* border: 1px solid red; */
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/contact.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
    */
        width: 95vw;
        height: 150vh;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    p {
        font-size: 1rem;
    }
    h2 {
        display: flex;
        margin: 25px;
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    textarea {
        width: 80%;
        height: 25%;
        margin-bottom: 25px;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .9em;
    }
    main {
        /* border: 1px solid red; */
        height: 90vh;
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/contact.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
        */
        width: 75vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    p {
        font-size: 1.2rem;
    }
    h2 {
        margin: 25px;
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    textarea {
        width: 80%;
        height: 25%;
        margin-bottom: 25px;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .9em;
    }
    main {
        /* border: 1px solid red; */
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/contact.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /* border: 1px solid red; */
        width: 75vw;
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    h2 {
        margin: 25px;
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    p {
        font-size: .8rem;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 900px) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.8rem;
    }
    h1, .menu-item {
        font-family: 'Courgette', cursive;
        font-weight: 100;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        /* border: 1px solid red; */
        height: 90vh;
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/contact.jpg') top no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
        */
        width: 60vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    label {
        margin: 10px;
    }
    p {
        font-size: 1.2rem;
    }
    h2 {
        margin: 25px;
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    textarea {
        width: 80%;
        height: 25%;
        margin-bottom: 25px;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

a {
    color: var(--dark);
}

.courgette {
    font-family: 'Courgette', cursive;
}