* {
    text-decoration: none;
    color: black;
    /* box-sizing: border-box; */
    /* font-family: 'Courgette', cursive;  */
}

@import url('https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap');

/* font-family: 'Courgette', cursive;

font-family: 'Poller One', cursive;

font-family: 'Rajdhani', sans-serif;  */



/* @media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {}
@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {}
@media (min-width: 600px) and (orientation: portrait) {}
@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {} 
@media (min-width: 900px) and (max-width: 1370px) {}
@media (min-width: 1371px) {} */


@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    body {
        overflow-x: hidden;
    }
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.2em;
    }
    #menu-icon {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-open {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        left: 0;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    .menu-close {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /* margin-top: 10vh; */
        top: 10vh;
        left: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s
    }
    .menu-item {
        color: white;
    }
    form {
        margin-top: 10vh;
    }
    #catch-phrase-box {
        /* height: 20vh; */
        width: 90vw;
        margin: 0 5vw;
        margin-top: 15vh;
    }
    h3 {
        /* text-align: center; */
        font-family: 'Poller One', cursive;
        font-size: 1em;
    }
    #category {
        text-align: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
    }
    .question-ctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: 0 5vw;
        margin-bottom: 25px;
    }
    h4 {
        width: 90vw;
        height: 7.5vh;
        display: flex;
        align-items: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
        font-size: 1em;
    }
    .question-box {
        width: 100%;
    }
    .multiple-question-box {
        width: 90vw;
        height: 4vh;
        display: flex;
        align-items: center;
    }
    input[type=text], select, input[type=date], textarea, input[type=submit] {
        width: 100%;
        height: 30px;
        font-family: 'Rajdhani', sans-serif;
        background: none;
        /* border-radius: 5px; */
        /* -webkit-border-radius: 5px; */
        /* -moz-border-radius: 5px; */
        /* -ms-border-radius: 5px; */
        /* -o-border-radius: 5px; */
        font-size: 1em;
    }
    label {
        font-family: 'Rajdhani', sans-serif;
    }
    textarea {
        height: 100px;
    }
    .submit-box {
        height: 15vh;
    }
    #submit {
        /* height: 50%; */
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        margin-top: 10vh;
    }
    form {
        margin-top: 10vh;
    }
    #catch-phrase-box {
        /* height: 20vh; */
        width: 90vw;
        margin: 0 5vw;
        margin-top: 15vh;
    }
    h3 {
        /* text-align: center; */
        font-family: 'Poller One', cursive;
        font-size: 1em;
    }
    #category {
        text-align: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
    }
    .question-ctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: 0 5vw;
        margin-bottom: 50px;
    }
    h4 {
        width: 90vw;
        height: 7.5vh;
        display: flex;
        align-items: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
        font-size: 1em;
        margin-bottom: 20px;
    }
    .question-box {
        width: 100%;
    }
    .multiple-question-box {
        width: 90vw;
        display: flex;
        align-items: center;
    }
    input[type=text], select, input[type=date], textarea, input[type=submit] {
        width: 100%;
        height: 30px;
        font-family: 'Rajdhani', sans-serif;
        background: none;
        /* border-radius: 5px; */
        /* -webkit-border-radius: 5px; */
        /* -moz-border-radius: 5px; */
        /* -ms-border-radius: 5px; */
        /* -o-border-radius: 5px; */
        font-size: 1em;
    }
    label {
        font-family: 'Rajdhani', sans-serif;
    }
    textarea {
        height: 100px;
    }
    .submit-box {
        height: 15vh;
    }
    #submit {
        /* height: 50%; */
    }
    footer {
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
    footer i {
        font-size: .5em;
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        background: white;
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        margin-top: 10vh;
    }
    form {
        margin-top: 10vh;
        margin: 0 5vw;
    }
    #catch-phrase-box {
        /* height: 20vh; */
        width: 90vw;
        margin: 0 5vw;
        margin-top: 20vh;
    }
    h3 {
        /* text-align: center; */
        font-family: 'Poller One', cursive;
        font-size: 1em;
    }
    #category {
        text-align: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
    }
    .question-ctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin-bottom: 50px;
    }
    h4 {
        width: 90vw;
        height: 7.5vh;
        display: flex;
        align-items: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
        font-size: 1em;
        margin-bottom: 20px;
    }
    .question-box {
        width: 100%;
    }
    .multiple-question-box {
        width: 90vw;
        display: flex;
        align-items: center;
    }
    input[type=text], select, input[type=date], textarea, input[type=submit] {
        width: 100%;
        height: 30px;
        font-family: 'Rajdhani', sans-serif;
        background: none;
        /* border-radius: 5px; */
        /* -webkit-border-radius: 5px; */
        /* -moz-border-radius: 5px; */
        /* -ms-border-radius: 5px; */
        /* -o-border-radius: 5px; */
        font-size: 1em;
    }
    label {
        font-family: 'Rajdhani', sans-serif;
    }
    textarea {
        height: 100px;
    }
    .submit-box {
        height: 15vh;
    }
    #submit {
        /* height: 50%; */
    }
    footer {
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
    footer i {
        font-size: .5em;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .9em;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 10vh;
    }
    form {
        /* margin-top: 10vh; */
    }
    #catch-phrase-box {
        width: 90vw;
        margin: 0 5vw;
        margin-top: 15vh;
    }
    h3 {
        /* text-align: center; */
        font-family: 'Poller One', cursive;
        font-size: 1em;
    }
    #category {
        text-align: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
    }
    .question-ctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: 0 5vw;
        margin-bottom: 25px;
    }
    h4 {
        width: 90vw;
        height: 7.5vh;
        display: flex;
        align-items: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
        font-size: 1em;
    }
    .question-box {
        width: 100%;
    }
    .multiple-question-box {
        width: 90vw;
        height: 4vh;
        display: flex;
        align-items: center;
    }
    input[type=text], select, input[type=date], textarea, input[type=submit] {
        width: 100%;
        height: 30px;
        font-family: 'Rajdhani', sans-serif;
        background: none;
        /* border-radius: 5px; */
        /* -webkit-border-radius: 5px; */
        /* -moz-border-radius: 5px; */
        /* -ms-border-radius: 5px; */
        /* -o-border-radius: 5px; */
        font-size: 1em;
    }
    label {
        font-family: 'Rajdhani', sans-serif;
    }
    textarea {
        height: 100px;
    }
    .submit-box {
        height: 15vh;
    }
    #submit {
        /* height: 50%; */
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 900px) and (max-width: 1370px) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 10vh;
    }
    form {
        width: 90%;
        /* margin-top: 10vh; */
    }
    #catch-phrase-box {
        /* height: 20vh; */
        width: 90vw;
        margin: 0 5vw;
        margin-top: 15vh;
        text-align: center;
    }
    h3 {
        /* text-align: center; */
        font-family: 'Poller One', cursive;
        font-size: 1em;
    }
    #category {
        text-align: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
    }
    .question-ctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 10vw;
        margin-bottom: 25px;
    }
    h4 {
        width: 100%;
        height: 7.5vh;
        display: flex;
        align-items: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
        font-size: 1em;
    }
    .question-box {
        width: 100%;
    }
    .multiple-question-box {
        width: 100%;
        ;
        height: 4vh;
        display: flex;
        align-items: center;
    }
    input[type=text], select, input[type=date], textarea, input[type=submit] {
        width: 100%;
        height: 30px;
        font-family: 'Rajdhani', sans-serif;
        background: none;
        /* border-radius: 5px; */
        /* -webkit-border-radius: 5px; */
        /* -moz-border-radius: 5px; */
        /* -ms-border-radius: 5px; */
        /* -o-border-radius: 5px; */
        font-size: 1em;
    }
    label {
        font-family: 'Rajdhani', sans-serif;
    }
    textarea {
        height: 100px;
        width: 110%;
    }
    .submit-box {
        height: 15vh;
        /* border: 1px solid red; */
    }
    #submit {
        height: 100%;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
}

/* 
desktop
*/

@media (min-width: 1371px) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        display: flex;
        justify-content: center;
    }
    form {
        width: 33vw;
    }
    #catch-phrase-box {
        height: 20vh;
        margin: 0 5vw;
        margin-top: 15vh;
    }
    h3 {
        text-align: center;
        font-family: 'Poller One', cursive;
    }
    #category {
        text-align: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
    }
    .question-box {
        width: 100%;
    }
    .question-ctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    h4 {
        width: 33vw;
        height: 7.5vh;
        display: flex;
        align-items: center;
        font-family: 'Courgette', cursive;
        color: #277C9E;
    }
    .multiple-question-box {
        width: 33vw;
        height: 4vh;
        display: flex;
        align-items: center;
    }
    input[type=text], select, input[type=date], textarea, input[type=submit] {
        width: 100%;
        height: 30px;
        font-family: 'Rajdhani', sans-serif;
        background: none;
        /* border-radius: 5px; */
        /* -webkit-border-radius: 5px; */
        /* -moz-border-radius: 5px; */
        /* -ms-border-radius: 5px; */
        /* -o-border-radius: 5px; */
        font-size: 1em;
    }
    label {
        font-family: 'Rajdhani', sans-serif;
    }
    textarea {
        height: 100px;
    }
    .submit-box {
        height: 15vh;
    }
    #submit {
        height: 100%;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -2px 5px black;
    }
}