* {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    /* font-family: 'Courgette', cursive;  */
    /* border: 1px solid red; */
}

@import url('https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap');
/* 
font-family: 'Courgette', cursive;

font-family: 'Poller One', cursive;

font-family: 'Rajdhani', sans-serif; 
*/

/* 
@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {}
@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {}
@media (min-width: 600px) and (orientation: portrait) {}
@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {} 
*/

body {
    overflow-x: hidden;
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        font-family: 'Courgette', cursive;
        background: white;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.2em;
    }
    #menu-icon {
        /* border: 3px solid blue; */
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-open {
        position: fixed;
        left: 0;
        /* border: 1px solid blue; */
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    .menu-close {
        position: fixed;
        /*border: 1px solid blue;
        */
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        top: 10vh;
        left: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    .menu-item {
        color: white;
    }
    main {
        /* border: 3px solid yellow; */
        width: 100vw;
        height: 90vh;
        background: url('../img/jobby-image.jpg') center;
        background-size: cover;
        margin-top: 10vh;
    }
    #catch-phrase-ctn {
        /* border: 3px solid violet; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #catch-phrase-box {
        /* border: 3px solid orange; */
        width: 275px;
        height: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.308);
        font-family: 'Poller One', cursive;
        font-size: .8em;
        text-shadow: 0 4px black;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    #slogan-box {
        /* border: 3px solid transparent; */
        width: 80%;
        height: 15%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        padding: 0 25px;
        font-size: .5em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .catch-phrase {
        color: white;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        /* border: 3px solid yellow; */
        width: 100vw;
        height: 90vh;
        background: url('../img/jobby-image.jpg');
        background-size: cover;
        margin-top: 10vh;
    }
    #catch-phrase-ctn {
        /* border: 3px solid violet; */
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #catch-phrase-box {
        /* border: 3px solid orange; */
        width: 225px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.308);
        font-family: 'Poller One', cursive;
        font-size: .8em;
        text-shadow: 0 4px black;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    #slogan-box {
        /* border: 3px solid transparent; */
        width: 40%;
        height: 25%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        font-size: .6em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .catch-phrase {
        color: white;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer i {
        font-size: .5em;
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        /* border: 3px solid yellow; */
        width: 100vw;
        height: 90vh;
        background: url('../img/jobby-image.jpg');
        background-size: cover;
        margin-top: 10vh;
    }
    #catch-phrase-ctn {
        /* border: 3px solid violet; */
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #catch-phrase-box {
        /* border: 3px solid orange; */
        width: 225px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.308);
        font-family: 'Poller One', cursive;
        font-size: .8em;
        text-shadow: 0 4px black;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    #slogan-box {
        /* border: 3px solid transparent; */
        width: 40%;
        height: 25%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        font-size: .6em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .catch-phrase {
        color: white;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer i {
        font-size: .5em;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .9em;
    }
    #menu-icon {
        display: none;
    }
    main {
        /* border: 3px solid yellow; */
        width: 100vw;
        height: 90vh;
        background: url('../img/jobby-image.jpg') center;
        background-size: cover;
        margin-top: 10vh;
    }
    #catch-phrase-ctn {
        /* border: 3px solid violet; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #catch-phrase-box {
        /* border: 3px solid orange; */
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.308);
        font-family: 'Poller One', cursive;
        font-size: .9em;
        text-shadow: 0 4px black;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    #slogan-box {
        /* border: 3px solid transparent; */
        width: 60%;
        height: 10%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        font-size: .9em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .catch-phrase {
        color: white;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 900px) {
    header {
        position: fixed;
        top: 0;
        /* border: 1px solid red; */
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
    }
    #app-title {
        /* border: 1px solid green; */
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        /* border: 1px solid blue; */
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        /* border: 3px solid yellow; */
        width: 100vw;
        height: 90vh;
        background: url('../img/jobby-image.jpg') center;
        background-size: cover;
        margin-top: 10vh;
    }
    #catch-phrase-ctn {
        /* border: 3px solid violet; */
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #catch-phrase-box {
        /* border: 3px solid orange; */
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.308);
        font-family: 'Poller One', cursive;
        font-size: .9em;
        text-shadow: 0 4px black;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    #slogan-box {
        border: 3px solid transparent;
        width: 400px;
        height: 100px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courgette', cursive;
        padding: 0 25px;
        font-size: .9em;
        box-shadow: 0 10px black;
        border-radius: 70px;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        -ms-border-radius: 70px;
        -o-border-radius: 70px;
    }
    .catch-phrase {
        color: white;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

* {
    border: 0px solid transparent;
}