





@import url('https://fonts.googleapis.com/css?family=Courgette|Rajdhani|Abril+Fatface|Poller+One&display=swap');
/* 
font-family: 'Courgette', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Poller One', cursive;

*/

:root {
    /* FONTS */
    --font-one: 'Courgette', cursive;
    --font-two: 'Poller One', cursive;
    --font-three: 'Rajdhani', sans-serif;
    /* COLORS */
    --dark: rgb(40, 40, 40);
    --light: white;
}

* {
    text-decoration: none ;
    color: black;
    box-sizing: border-box;
    /* font-family: 'Courgette', cursive;  */
    /* border: 1px solid red; */
    
}

.border-red{
    border : 1px solid red;
}

/* INDEX */

@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: left;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        margin-top: 10vh;
        position: fixed;
        height: 90vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: var(--dark);
        align-items: center;
        font-family: var(--font-one);
        font-size: 2rem;
        z-index: 1;
        transition: right .3s;
        -webkit-transition: right .3s;
        -moz-transition: right .3s;
        -ms-transition: right .3s;
        -o-transition: right .3s;
    }
    .nav-open {
        right: 0;
    }
    .nav-close {
        right: -100vw;
    }
    #nav a {
        color: var(--light);
    }
    #nav-icon {
        height: 10vh;
        position: fixed;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        font-size: 2rem;
        transition: transform .3s;
        -webkit-transition: transform .3s;
        -moz-transition: transform .3s;
        -ms-transition: transform .3s;
        -o-transition: transform .3s;
    }
    main {
        /* border: 1px solid red; */
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/login.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
        */
        width: 95vw;
        height: 85vh;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    p {
        font-size: 1rem;
    }
    h2 {
        display: flex;
        margin: 25px;
        color: var(--light);
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    footer {
        display: flex;
        height: 10vh;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }

    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav-icon {
        display: none;
    }
    main {
        /* border: 1px solid red; */
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/login.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
    */
        width: 95vw;
        height: 150vh;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    p {
        font-size: 1rem;
    }
    h2 {
        display: flex;
        margin: 25px;
        color: var(--light);
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    footer {
        display: flex;
        height: 10vh;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 33px;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav-icon {
        display: none;
    }
    main {
        /* border: 1px solid red; */
        height: 90vh;
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/login.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
        */
        width: 45vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    p {
        font-size: 1.2rem;
    }
    h2 {
        margin: 25px;
        color: var(--light);
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    footer {
        display: flex;
        height: 15vh;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav-icon {
        display: none;
    }
    main {
        /* border: 1px solid red; */
        height: 90vh;
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/login.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
        */
        width: 45vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    h2 {
        margin: 25px;
        color: var(--light);
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    p {
        font-size: .8rem;
    }
    footer {
        display: flex;
        height: 15vh;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
    }
}

@media (min-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 2px 5px var(--dark)
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.8rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 2rem;
    }
    #nav-icon {
        display: none;
    }
    main {
        /* border: 1px solid red; */
        height: 90vh;
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: url('../img/login.jpg') bottom no-repeat;
        background-size: cover;
    }
    form {
        /*border: 1px solid red;
        */
        width: 33vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        color: var(--light);
        font-family: var(--font-two);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    p {
        font-size: 1.2rem;
    }
    h2 {
        margin: 25px;
        color: var(--light);
    }
    input {
        width: 80%;
        margin-bottom: 25px;
    }
    input[ type=submit] {
        width: 100px;
        height: 100px;
        background: white;
        border: none;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        font-family: var(--font-two);
    }
    input[type=submit]:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    footer {
        display: flex;
        height: 10vh;
        justify-content: space-evenly;
        align-items: center;
    }
}

label, p {
    color: var(--light);
}