/* 
font-family: 'Courgette', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Poller One', cursive;

*/

:root {
    /* FONTS */
    --font-one: 'Courgette', cursive;
    --font-two: 'Poller One', cursive;
    --font-three: 'Rajdhani', sans-serif;
    /* COLORS */
    --dark: #282828;
    --light: white;
}

* {
    text-decoration: none ;
    color: black;
    box-sizing: border-box;
    /* font-family: 'Courgette', cursive;  */
    /* border: 1px solid red; */
    
}

/* INDEX */

@media (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.2em;
    }
    #menu-icon {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-open {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /*margin-top: 10vh;
        */
        left: 0;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    .menu-close {
        position: fixed;
        width: 100vw;
        height: 90vh;
        /* margin-top: 10vh; */
        top: 10vh;
        left: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #282828;
        transition: all .3s
    }
    .menu-item {
        color: white;
    }
    main {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
        font-family: var(--font-two);
        margin-bottom: 50px;
    }
    h3 {
        font-family: var(--font-one);
    }
    article a {
        font-family: var(--font-three);
    }
    .article-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    article {
        width: 100%;
        padding: 30px;
        margin: 25px;
        box-shadow: -2px 2px 10px black;
    }
    a:hover {
        color: var(--blue);
    }
    .fa-star {
        color: var(--blue);
        font-size: 1rem;
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 0px) and (max-width: 599px) and (orientation: landscape) {
    header {
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
        font-family: var(--font-two);
        margin-bottom: 50px;
    }
    h3 {
        font-family: var(--font-one);
    }
    article a {
        font-family: var(--font-three);
    }
    .article-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    article {
        width: 40%;
        padding: 30px;
        margin: 25px;
        box-shadow: -2px 2px 10px black;
    }
    a:hover {
        color: var(--blue);
    }
    .fa-star {
        color: var(--blue);
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        background: white;
        box-shadow: 0 5px 10px var(--dark);
    }
    #brand {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav {
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-one);
        font-size: 1.5rem;
    }
    #nav-icon {
        display: none;
    }
    main {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
        font-family: var(--font-two);
        margin-bottom: 50px;
    }
    h3 {
        font-family: var(--font-one);
    }
    article a {
        font-family: var(--font-three);
    }
    .article-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    article {
        width: 40%;
        padding: 30px;
        margin: 25px;
        box-shadow: -2px 2px 10px black;
    }
    a:hover {
        color: var(--blue);
    }
    .fa-star {
        color: var(--blue);
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
    header {
        position: fixed;
        top: 0;
        background: white;
        width: 100vw;
        height: 15vh;
        display: flex;
        font-family: 'Courgette', cursive;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.1em;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    .menu-item {
        font-size: .7em;
    }
    main {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
        font-family: var(--font-two);
        margin-bottom: 50px;
    }
    h3 {
        font-family: var(--font-one);
    }
    article a {
        font-family: var(--font-three);
    }
    .article-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    article {
        width: 40%;
        padding: 30px;
        margin: 25px;
        box-shadow: -2px 2px 10px black;
    }
    a:hover {
        color: var(--blue);
    }
    .fa-star {
        color: var(--blue);
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .9em;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
        font-family: var(--font-two);
        margin-bottom: 50px;
    }
    h3 {
        font-family: var(--font-one);
    }
    article a {
        font-family: var(--font-three);
    }
    .article-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    article {
        width: 34%;
        padding: 30px;
        margin: 25px;
        box-shadow: -2px 2px 10px black;
    }
    a:hover {
        color: var(--blue);
    }
    .fa-star {
        color: var(--blue);
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

@media (min-width: 900px) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        font-family: 'Courgette', cursive;
        background: white;
        box-shadow: 0 2px 5px black;
    }
    #app-title {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-close, .menu-open {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu-icon {
        display: none;
    }
    main {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
        font-family: var(--font-two);
        margin-bottom: 50px;
    }
    h3 {
        font-family: var(--font-one);
    }
    article a {
        font-family: var(--font-three);
    }
    .article-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    article {
        width: 24%;
        padding: 30px;
        margin: 25px;
        box-shadow: -2px 2px 10px black;
    }
    a:hover {
        color: var(--blue);
    }
    .fa-star {
        color: var(--blue);
    }
    footer {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .7em;
        box-shadow: 0 -2px 5px black;
    }
}

.Courgette {
    font-family: 'Courgette', cursive;
}