@import url(https://fonts.googleapis.com/css?family=Courgette|Rajdhani|Abril+Fatface|Poller+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani|Poiret+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap);
@import url(https://fonts.googleapis.com/css?family=Courgette|Rajdhani|Abril+Fatface|Poller+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap);
@import url(https://fonts.googleapis.com/css?family=Courgette|Poller+One|Rajdhani&display=swap);
@import url(https://fonts.googleapis.com/css?family=Courgette|Rajdhani|Abril+Fatface|Poller+One&display=swap);

:root {
--font-one:Courgette, cursive;
--font-two:'Poller One', cursive;
--font-three:Rajdhani, sans-serif;
--dark:#282828;
--light:#FFF;
}

body {
height:100vh;
display:flex;
flex-direction:column;
justify-content:space-between;
overflow:hidden;
overflow-x:hidden;
background-color:#fff;
color:#000;
font-family:"Century Gothic", helvetica, arial, sans-serif;
font-size:1.4em;
line-height:1.5;
}

* {
border:0 solid transparent;
text-decoration:none;
color:#000;
box-sizing:border-box;
}

.blue {
color:#0074B3;
}

.courgette {
font-family:Courgette, cursive;
}

a {
color:var(--dark);
}

.border-red {
border:1px solid red;
}

label,p {
color:var(--light);
}

html {
font-size:62.5%;
}

p,ul,ol,dl,blockquote,pre,td,th,label,textarea,caption,details,figure,hgroup {
font-size:1em;
line-height:1.5;
margin:1.5em 0 0;
}

h1,.h1-like {
font-size:1.8571em;
font-weight:400;
line-height:1.6154em;
margin:.8077em 0 0;
}

h2,.h2-like {
font-size:1.7143em;
font-weight:400;
line-height:1.75em;
margin:.875em 0 0;
}

h3,.h3-like {
font-size:1.5714em;
font-weight:400;
line-height:1.909em;
margin:.9545em 0 0;
}

h4,.h4-like {
font-size:1.4286em;
font-weight:400;
line-height:1.05em;
margin:1.05em 0 0;
}

h5,.h5-like {
font-size:1.2857em;
font-weight:400;
line-height:1.1667em;
margin:1.1667em 0 0;
}

h6,.h6-like {
font-size:1.1429em;
font-weight:400;
line-height:1.3125em;
margin:1.3125em 0 0;
}

.smaller {
font-size:.7143em;
line-height:2.1em;
}

.small {
font-size:.8571em;
line-height:1.75em;
}

.big {
font-size:1.1429em;
line-height:1.3125em;
}

.bigger {
font-size:1.2857em;
line-height:1.1667em;
}

.biggest {
font-size:1.4286em;
line-height:1.05em;
}

html,body,textarea,figure,label {
margin:0;
padding:0;
}

ul,ol {
padding-left:2em;
}

code,pre,samp {
white-space:pre-wrap;
font-family:consolas, 'DejaVu Sans Mono', courier, monospace;
}

code {
line-height:1em;
}

table {
margin-bottom:1.5em;
}

p:first-child,ul:first-child,ol:first-child,dl:first-child,blockquote:first-child,pre:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {
margin-top:0;
}

li p,li ul,li ol {
margin-top:0;
margin-bottom:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
display:block;
}

img,table,td,blockquote,code,pre,textarea,input,video {
max-width:100%;
}

div,textarea,table,td,th,code,pre,samp {
word-wrap:break-word;
-webkit-hyphens:auto;
-moz-hyphens:auto;
-ms-hyphens:auto;
-o-hyphens:auto;
hyphens:auto;
}

img {
width:auto;
height:auto;
vertical-align:middle;
}

a img {
border:0;
}

body>script {
display:none!important;
}

.skip-links {
position:absolute;
}

.skip-links a {
position:absolute;
left:-9999px;
background:#000;
color:#fff;
text-decoration:none;
padding:.5em;
}

.skip-links a:focus {
position:static;
}

@media min-width 0px and max-width 599px and orientation portrait{
body {
background:url(../img/404.jpg) center no-repeat;
background-size:contain;
overflow-x:hidden;
}

.error-404 {
border:1px solid red;
height:100vh;
width:33.33vw;
display:flex;
justify-content:center;
align-items:center;
}

.number {
font-size:5rem;
color:var(--light);
font-family:var(--font-two);
}

#sorry {
color:var(--dark);
font-size:1.5rem;
height:200px;
width:90vw;
margin-left:5vw;
display:flex;
text-align:center;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

#home {
color:var(--dark);
font-size:1.5rem;
bottom:0;
height:200px;
width:90vw;
margin-left:5vw;
display:flex;
justify-content:center;
text-align:center;
align-items:center;
font-family:var(--font-one);
}

.error-404:first-child {
position:fixed;
top:0;
left:-34vw;
animation:left-to-right 1s ease-in-out forwards;
-webkit-animation:left-to-right 1s ease-in-out forwards;
}

.error-404:nth-child(2) {
position:fixed;
left:33.33vw;
bottom:-100vw;
animation:bottom-to-top 1s ease-in-out forwards;
-webkit-animation:bottom-to-top 1s ease-in-out forwards;
}

.error-404:nth-child(3) {
position:fixed;
top:0;
left:100vw;
animation:right-to-left 1s ease-in-out forwards;
-webkit-animation:right-to-left 1s ease-in-out forwards;
}

header {
font-family:Courgette, cursive;
position:fixed;
top:0;
width:100vw;
height:10vh;
display:flex;
justify-content:left;
background:#FFF;
box-shadow:0 5px 10px var(--dark);
}

#app-title {
width:40%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

h1 {
font-family:Courgette, cursive;
font-size:1.2em;
}

#menu-icon {
width:50px;
display:flex;
justify-content:center;
align-items:center;
}

.menu-open {
font-family:Courgette, cursive;
font-size:3rem;
position:fixed;
left:0;
width:100vw;
height:90vh;
top:10vh;
display:flex;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
background:#282828;
transition:all .3s;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-ms-transition:all .3s;
-o-transition:all .3s;
}

.menu-close {
font-family:Courgette, cursive;
font-size:3rem;
position:fixed;
width:100vw;
height:90vh;
top:10vh;
left:100vw;
display:flex;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
background:#282828;
transition:all .3s;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-ms-transition:all .3s;
-o-transition:all .3s;
}

main {
width:100vw;
height:90vh;
justify-content:space-evenly;
background:url(../img/login.jpg) bottom no-repeat;
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
margin:20vh 5vw 15vh;
}

h2 {
height:25vh;
font-size:8vw;
justify-content:center;
align-items:center;
display:flex;
color:var(--light);
text-align:center;
font-family:var(--font-two);
margin:25px 25px 50px;
}

p {
font-family:'Poiret One', cursive;
font-size:1rem;
}

strong {
font-family:'Poiret One', cursive;
font-size:2rem;
font-weight:700;
color:#0074B3;
}

#value {
display:flex;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
font-size:5em;
}

.icon {
height:40vh;
display:flex;
flex-direction:column;
justify-content:space-evenly;
font-size:12rem;
margin:25px 0;
}

.text {
border:2px solid orange;
font-size:4rem;
text-align:center;
margin:0;
}

i {
border:2px solid #000;
}

#slogan-box {
width:80%;
height:15%;
background:#FFF;
display:flex;
justify-content:center;
align-items:center;
font-family:Courgette, cursive;
font-size:.5em;
box-shadow:0 10px #000;
border-radius:70px;
-webkit-border-radius:70px;
-moz-border-radius:70px;
-ms-border-radius:70px;
-o-border-radius:70px;
padding:0 25px;
}

.btn-box {
height:25vh;
display:flex;
justify-content:center;
align-items:center;
}

footer {
box-shadow:0 -2px 5px #000;
font-size:.7em;
display:flex;
height:10vh;
justify-content:space-evenly;
align-items:center;
}

#catch-phrase-box {
text-align:center;
width:275px;
height:275px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
background:rgba(255,255,255,0.308);
font-family:'Poller One', cursive;
font-size:.8em;
text-shadow:0 4px #000;
border-radius:100%;
-webkit-border-radius:100%;
-moz-border-radius:100%;
-ms-border-radius:100%;
-o-border-radius:100%;
margin:15vh 5vw 0;
}

.card {
height:300px;
width:300px;
box-shadow:-2px 2px 10px #000;
margin:15px;
}

.card h3 {
display:flex;
justify-content:center;
align-items:center;
height:20%;
font-family:Rajdhani, sans-serif;
}

.card img {
height:80%;
width:100%;
}

#brand {
width:45%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
font-size:1.5rem;
}

#nav {
margin-top:10vh;
position:fixed;
height:90vh;
width:100vw;
display:flex;
flex-direction:column;
justify-content:space-evenly;
background:var(--dark);
align-items:center;
font-family:var(--font-one);
font-size:2rem;
z-index:1;
transition:right .3s;
-webkit-transition:right .3s;
-moz-transition:right .3s;
-ms-transition:right .3s;
-o-transition:right .3s;
}

.nav-open {
right:0;
}

.nav-close {
right:-100vw;
}

#nav a {
color:var(--light);
font-family:var(--font-one);
}

#nav-icon {
height:10vh;
position:fixed;
right:0;
display:flex;
justify-content:center;
align-items:center;
width:20vw;
font-size:2rem;
transition:transform .3s;
-webkit-transition:transform .3s;
-moz-transition:transform .3s;
-ms-transition:transform .3s;
-o-transition:transform .3s;
}

label {
font-family:Rajdhani, sans-serif;
margin:10px;
}

form {
width:95vw;
height:85vh;
margin-top:20px;
margin-bottom:20px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:var(--dark);
color:var(--light);
font-family:var(--font-two);
border-radius:50px;
-webkit-border-radius:50px;
-moz-border-radius:50px;
-ms-border-radius:50px;
-o-border-radius:50px;
}

p,label {
font-size:1rem;
}

textarea {
width:80%;
margin-bottom:25px;
height:100px;
}

input {
width:80%;
margin-bottom:25px;
}

input[ type=submit] {
width:100px;
height:100px;
background:#FFF;
border:none;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-ms-border-radius:100px;
-o-border-radius:100px;
font-family:var(--font-two);
}

input[type=submit]:hover {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transition:all .2s;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-ms-transition:all .2s;
-o-transition:all .2s;
}

h3 {
font-size:1em;
font-family:var(--font-one);
}

#category {
text-align:center;
font-family:Courgette, cursive;
color:#277C9E;
}

.question-ctn {
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
width:90vw;
margin:0 5vw 25px;
}

h4 {
width:90vw;
height:7.5vh;
display:flex;
align-items:center;
font-family:Courgette, cursive;
color:#277C9E;
font-size:1em;
}

.question-box {
width:100%;
}

.multiple-question-box {
width:90vw;
height:4vh;
display:flex;
align-items:center;
}

input[type=text],select,input[type=date],textarea,input[type=submit] {
width:100%;
height:30px;
font-family:Rajdhani, sans-serif;
background:none;
font-size:1em;
}

.submit-box {
height:15vh;
}

#submit {
height:50%;
}

#catch-phrase-ctn {
width:100%;
height:100%;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
}

article a {
font-family:var(--font-three);
}

article {
width:100%;
box-shadow:-2px 2px 10px #000;
margin:25px;
padding:30px;
}

a:hover {
color:var(--blue);
}

.fa-star {
color:var(--blue);
font-size:1rem;
}

.menu-item,.catch-phrase {
color:#FFF;
}

#card-ctn,.article-ctn {
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}
}

@media min-width 0px and max-width 599px and orientation landscape{
body {
background:url(../img/404.jpg) center no-repeat;
background-size:cover;
}

.error-404 {
height:100vh;
width:33.33vw;
display:flex;
justify-content:center;
align-items:center;
color:#D3D3D3;
}

.number {
font-size:5rem;
color:var(--light);
font-family:var(--font-two);
}

#sorry {
color:var(--dark);
font-size:2rem;
position:fixed;
height:100px;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

#home {
color:var(--dark);
font-size:2rem;
position:fixed;
bottom:0;
height:100px;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

.error-404:first-child {
position:fixed;
left:-34vw;
animation:left-to-right 1s ease-in-out forwards;
-webkit-animation:left-to-right 1s ease-in-out forwards;
}

.error-404:nth-child(2) {
position:fixed;
left:33.33vw;
bottom:-100vw;
animation:bottom-to-top 1s ease-in-out forwards;
-webkit-animation:bottom-to-top 1s ease-in-out forwards;
}

.error-404:nth-child(3) {
position:fixed;
left:100vw;
animation:right-to-left 1s ease-in-out forwards;
-webkit-animation:right-to-left 1s ease-in-out forwards;
}

header {
font-family:Courgette, cursive;
position:fixed;
top:0;
width:100vw;
height:15vh;
display:flex;
justify-content:space-evenly;
background:#FFF;
box-shadow:0 5px 10px var(--dark);
}

#app-title {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

h1 {
font-size:1.1em;
}

.menu-close,.menu-open {
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
}

.menu-item {
font-size:.7em;
}

main {
width:100vw;
height:90vh;
justify-content:space-evenly;
background:url(../img/login.jpg) bottom no-repeat;
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
margin:25vh 5vw 20vh;
}

h2 {
height:25vh;
font-size:5vw;
justify-content:center;
align-items:center;
display:flex;
color:var(--light);
text-align:center;
font-family:var(--font-two);
margin:25px 25px 50px;
}

p {
font-family:'Poiret One', cursive;
font-size:1rem;
}

strong,a {
font-family:'Poiret One', cursive;
font-size:2.5rem;
font-weight:700;
color:#0074B3;
}

#value {
height:25vh;
display:flex;
justify-content:space-evenly;
align-items:center;
font-size:5em;
}

.icon {
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:5rem;
}

.text {
font-size:2rem;
margin:0;
}

#slogan-box {
width:40%;
height:25%;
background:#FFF;
display:flex;
justify-content:center;
align-items:center;
font-family:Courgette, cursive;
font-size:.6em;
box-shadow:0 10px #000;
border-radius:70px;
-webkit-border-radius:70px;
-moz-border-radius:70px;
-ms-border-radius:70px;
-o-border-radius:70px;
padding:0 25px;
}

.btn-box {
height:35vh;
display:flex;
justify-content:center;
align-items:center;
}

footer {
box-shadow:0 -2px 5px #000;
display:flex;
height:10vh;
justify-content:space-evenly;
align-items:center;
margin-top:33px;
}

footer i {
font-size:.5em;
}

#catch-phrase-box {
width:225px;
height:225px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
background:rgba(255,255,255,0.308);
font-family:'Poller One', cursive;
font-size:.8em;
text-shadow:0 4px #000;
border-radius:100%;
-webkit-border-radius:100%;
-moz-border-radius:100%;
-ms-border-radius:100%;
-o-border-radius:100%;
margin:15vh 5vw 0;
}

.card {
height:250px;
width:250px;
box-shadow:-2px 2px 10px #000;
margin:15px;
}

.card h3 {
display:flex;
justify-content:center;
align-items:center;
height:20%;
font-family:Rajdhani, sans-serif;
font-size:1em;
}

.card img {
height:80%;
width:100%;
}

#brand {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
font-size:1.5rem;
}

#nav {
height:100%;
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
font-family:var(--font-one);
font-size:1.5rem;
}

form {
width:95vw;
height:150vh;
margin-top:20px;
margin-bottom:20px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:var(--dark);
color:var(--light);
font-family:var(--font-two);
border-radius:50px;
-webkit-border-radius:50px;
-moz-border-radius:50px;
-ms-border-radius:50px;
-o-border-radius:50px;
}

input {
width:80%;
margin-bottom:25px;
}

input[type=submit] {
width:100px;
height:100px;
background:#FFF;
border:none;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-ms-border-radius:100px;
-o-border-radius:100px;
font-family:var(--font-two);
}

input[type=submit]:hover {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transition:all .2s;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-ms-transition:all .2s;
-o-transition:all .2s;
}

textarea {
width:80%;
margin-bottom:25px;
height:100px;
}

h3 {
font-size:1em;
font-family:var(--font-one);
}

#category {
text-align:center;
font-family:Courgette, cursive;
color:#277C9E;
}

.question-ctn {
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
width:90vw;
margin:0 5vw 50px;
}

h4 {
width:90vw;
height:7.5vh;
display:flex;
align-items:center;
font-family:Courgette, cursive;
color:#277C9E;
font-size:1em;
margin-bottom:20px;
}

.question-box {
width:100%;
}

.multiple-question-box {
width:90vw;
display:flex;
align-items:center;
}

input[type=text],select,input[type=date],textarea,input[type=submit] {
width:100%;
height:30px;
font-family:Rajdhani, sans-serif;
background:none;
font-size:1em;
}

label {
font-family:Rajdhani, sans-serif;
}

.submit-box {
height:15vh;
}

#submit {
height:50%;
}

#catch-phrase-ctn {
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:space-evenly;
}

.catch-phrase {
color:#FFF;
}

article a {
font-family:var(--font-three);
}

article {
width:40%;
box-shadow:-2px 2px 10px #000;
margin:25px;
padding:30px;
}

#menu-icon,#nav-icon {
display:none;
}

#card-ctn,.article-ctn {
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}

a:hover,.fa-star {
color:var(--blue);
}
}

@media min-width 600px and orientation portrait{
body {
background:url(../img/404.jpg) center no-repeat;
background-size:cover;
}

.error-404 {
height:100vh;
width:33.33vw;
display:flex;
justify-content:center;
align-items:center;
}

.number {
font-size:5rem;
color:var(--light);
font-family:var(--font-two);
}

#sorry {
color:var(--dark);
font-size:2rem;
height:200px;
width:90vw;
margin-left:5vw;
display:flex;
text-align:center;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

#home {
color:var(--dark);
font-size:2rem;
bottom:0;
height:200px;
width:90vw;
margin-left:5vw;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

.error-404:first-child {
position:fixed;
top:0;
left:-34vw;
animation:left-to-right 1s ease-in-out forwards;
-webkit-animation:left-to-right 1s ease-in-out forwards;
}

.error-404:nth-child(2) {
position:fixed;
left:33.33vw;
bottom:-100vw;
animation:bottom-to-top 1s ease-in-out forwards;
-webkit-animation:bottom-to-top 1s ease-in-out forwards;
}

.error-404:nth-child(3) {
position:fixed;
top:0;
left:100vw;
animation:right-to-left 1s ease-in-out forwards;
-webkit-animation:right-to-left 1s ease-in-out forwards;
}

header {
font-family:Courgette, cursive;
position:fixed;
top:0;
width:100vw;
height:10vh;
display:flex;
justify-content:space-evenly;
background:#FFF;
box-shadow:0 5px 10px var(--dark);
}

#app-title {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

h1 {
font-size:1.1em;
}

.menu-close,.menu-open {
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
font-size:.9em;
}

.menu-item {
font-size:.9em;
}

main {
width:100vw;
height:90vh;
justify-content:space-evenly;
background:url(../img/login.jpg) bottom no-repeat;
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
margin:20vh 5vw 10vh;
}

h2 {
height:25vh;
font-size:5vw;
display:flex;
justify-content:center;
align-items:center;
color:var(--light);
text-align:center;
font-family:var(--font-two);
margin:25px 25px 50px;
}

p {
font-family:'Poiret One', cursive;
font-size:1.2rem;
}

strong,a {
font-family:'Poiret One', cursive;
font-size:2.5rem;
font-weight:700;
color:#0074B3;
}

#value {
height:25vh;
display:flex;
justify-content:space-evenly;
align-items:center;
font-size:5em;
}

.icon {
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:5rem;
}

.text {
font-size:2rem;
margin:0;
}

#slogan-box {
width:60%;
height:10%;
background:#FFF;
display:flex;
justify-content:center;
align-items:center;
font-family:Courgette, cursive;
font-size:.9em;
box-shadow:0 10px #000;
border-radius:70px;
-webkit-border-radius:70px;
-moz-border-radius:70px;
-ms-border-radius:70px;
-o-border-radius:70px;
padding:0 25px;
}

.btn-box {
height:35vh;
display:flex;
justify-content:center;
align-items:center;
}

footer {
box-shadow:0 -2px 5px #000;
display:flex;
height:15vh;
justify-content:space-evenly;
align-items:center;
margin-top:25px;
}

footer i {
font-size:1em;
}

#catch-phrase-box {
width:400px;
height:400px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
background:rgba(255,255,255,0.308);
font-family:'Poller One', cursive;
font-size:.9em;
text-shadow:0 4px #000;
border-radius:100%;
-webkit-border-radius:100%;
-moz-border-radius:100%;
-ms-border-radius:100%;
-o-border-radius:100%;
margin:15vh 5vw 0;
}

.card {
height:300px;
width:300px;
box-shadow:-2px 2px 10px #000;
margin:15px;
}

.card h3 {
display:flex;
justify-content:center;
align-items:center;
height:20%;
font-family:Rajdhani, sans-serif;
}

.card img {
height:80%;
width:100%;
}

#brand {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
font-size:1.5rem;
}

#nav {
height:100%;
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
font-family:var(--font-one);
font-size:1.5rem;
}

form {
width:45vw;
height:50vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:var(--dark);
color:var(--light);
font-family:var(--font-two);
border-radius:50px;
-webkit-border-radius:50px;
-moz-border-radius:50px;
-ms-border-radius:50px;
-o-border-radius:50px;
}

input {
width:80%;
margin-bottom:25px;
}

input[ type=submit] {
width:100px;
height:100px;
background:#FFF;
border:none;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-ms-border-radius:100px;
-o-border-radius:100px;
font-family:var(--font-two);
}

input[type=submit]:hover {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transition:all .2s;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-ms-transition:all .2s;
-o-transition:all .2s;
}

textarea {
width:80%;
margin-bottom:25px;
height:100px;
}

h3 {
font-size:1em;
font-family:var(--font-one);
}

#category {
text-align:center;
font-family:Courgette, cursive;
color:#277C9E;
}

.question-ctn {
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
width:90vw;
margin:0 5vw 25px;
}

h4 {
width:90vw;
height:7.5vh;
display:flex;
align-items:center;
font-family:Courgette, cursive;
color:#277C9E;
font-size:1em;
}

.question-box {
width:100%;
}

.multiple-question-box {
width:90vw;
height:4vh;
display:flex;
align-items:center;
}

input[type=text],select,input[type=date],textarea,input[type=submit] {
width:100%;
height:30px;
font-family:Rajdhani, sans-serif;
background:none;
font-size:1em;
}

label {
font-family:Rajdhani, sans-serif;
}

.submit-box {
height:15vh;
}

#submit {
height:50%;
}

#catch-phrase-ctn {
width:100%;
height:100%;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
}

.catch-phrase {
color:#FFF;
}

article a {
font-family:var(--font-three);
}

article {
width:40%;
box-shadow:-2px 2px 10px #000;
margin:25px;
padding:30px;
}

#menu-icon,#nav-icon {
display:none;
}

#card-ctn,.article-ctn {
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}

a:hover,.fa-star {
color:var(--blue);
}
}

@media min-width 600px and max-width 900px and orientation landscape{
body {
background:url(../img/404.jpg) center no-repeat;
background-size:cover;
}

.error-404 {
height:100vh;
width:33.33vw;
display:flex;
justify-content:center;
align-items:center;
color:#D3D3D3;
}

.number {
font-size:5rem;
color:var(--light);
font-family:var(--font-two);
}

#sorry {
color:var(--dark);
font-size:2rem;
position:fixed;
height:100px;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

#home {
color:var(--dark);
font-size:2rem;
position:fixed;
bottom:0;
height:100px;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

.error-404:first-child {
position:fixed;
left:-34vw;
animation:left-to-right 1s ease-in-out forwards;
-webkit-animation:left-to-right 1s ease-in-out forwards;
}

.error-404:nth-child(2) {
position:fixed;
left:33.33vw;
bottom:-100vw;
animation:bottom-to-top 1s ease-in-out forwards;
-webkit-animation:bottom-to-top 1s ease-in-out forwards;
}

.error-404:nth-child(3) {
position:fixed;
left:100vw;
animation:right-to-left 1s ease-in-out forwards;
-webkit-animation:right-to-left 1s ease-in-out forwards;
}

header {
font-family:Courgette, cursive;
position:fixed;
top:0;
width:100vw;
height:15vh;
display:flex;
justify-content:space-evenly;
background:#FFF;
box-shadow:0 5px 10px var(--dark);
}

#app-title {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

h1 {
font-size:1.1em;
}

.menu-close,.menu-open {
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
}

.menu-item {
font-size:.7em;
}

main {
width:100vw;
height:90vh;
justify-content:space-evenly;
background:url(../img/login.jpg) bottom no-repeat;
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
margin:20vh 5vw;
}

h2 {
height:25vh;
font-size:5vw;
display:flex;
justify-content:center;
align-items:center;
color:var(--light);
text-align:center;
font-family:var(--font-two);
margin:25px 25px 50px;
}

p {
font-family:'Poiret One', cursive;
font-size:.8rem;
}

strong,a {
font-family:'Poiret One', cursive;
font-size:2.5rem;
font-weight:700;
color:#0074B3;
}

#value {
height:25vh;
display:flex;
justify-content:space-evenly;
align-items:center;
font-size:5em;
}

.icon {
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:5rem;
}

.text {
font-size:2rem;
margin:0;
}

#slogan-box {
width:40%;
height:25%;
background:#FFF;
display:flex;
justify-content:center;
align-items:center;
font-family:Courgette, cursive;
font-size:.6em;
box-shadow:0 10px #000;
border-radius:70px;
-webkit-border-radius:70px;
-moz-border-radius:70px;
-ms-border-radius:70px;
-o-border-radius:70px;
padding:0 25px;
}

.btn-box {
height:35vh;
display:flex;
justify-content:center;
align-items:center;
margin-top:33px;
}

footer {
box-shadow:0 -2px 5px #000;
display:flex;
height:15vh;
justify-content:space-evenly;
align-items:center;
margin-top:25px;
}

footer i {
font-size:.5em;
}

#catch-phrase-box {
width:225px;
height:225px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
background:rgba(255,255,255,0.308);
font-family:'Poller One', cursive;
font-size:.8em;
text-shadow:0 4px #000;
border-radius:100%;
-webkit-border-radius:100%;
-moz-border-radius:100%;
-ms-border-radius:100%;
-o-border-radius:100%;
margin:20vh 5vw 0;
}

.card {
height:250px;
width:250px;
box-shadow:-2px 2px 10px #000;
margin:15px;
}

.card h3 {
display:flex;
justify-content:center;
align-items:center;
height:20%;
font-family:Rajdhani, sans-serif;
}

.card img {
height:80%;
width:100%;
}

#brand {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
font-size:1.5rem;
}

#nav {
height:100%;
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
font-family:var(--font-one);
font-size:1.5rem;
}

form {
width:45vw;
height:85vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:var(--dark);
color:var(--light);
font-family:var(--font-two);
border-radius:50px;
-webkit-border-radius:50px;
-moz-border-radius:50px;
-ms-border-radius:50px;
-o-border-radius:50px;
margin:0 5vw;
}

input {
width:80%;
margin-bottom:25px;
}

input[ type=submit] {
width:100px;
height:100px;
background:#FFF;
border:none;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-ms-border-radius:100px;
-o-border-radius:100px;
font-family:var(--font-two);
}

input[type=submit]:hover {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transition:all .2s;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-ms-transition:all .2s;
-o-transition:all .2s;
}

h3 {
font-size:1em;
font-family:var(--font-one);
}

#category {
text-align:center;
font-family:Courgette, cursive;
color:#277C9E;
}

.question-ctn {
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
width:90vw;
margin-bottom:50px;
}

h4 {
width:90vw;
height:7.5vh;
display:flex;
align-items:center;
font-family:Courgette, cursive;
color:#277C9E;
font-size:1em;
margin-bottom:20px;
}

.question-box {
width:100%;
}

.multiple-question-box {
width:90vw;
display:flex;
align-items:center;
}

input[type=text],select,input[type=date],textarea,input[type=submit] {
width:100%;
height:30px;
font-family:Rajdhani, sans-serif;
background:none;
font-size:1em;
}

label {
font-family:Rajdhani, sans-serif;
}

textarea {
height:100px;
}

.submit-box {
height:15vh;
}

#submit {
height:50%;
}

#catch-phrase-ctn {
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:space-evenly;
}

.catch-phrase {
color:#FFF;
}

article a {
font-family:var(--font-three);
}

article {
width:40%;
box-shadow:-2px 2px 10px #000;
margin:25px;
padding:30px;
}

#menu-icon,#nav-icon {
display:none;
}

#card-ctn,.article-ctn {
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}

a:hover,.fa-star {
color:var(--blue);
}
}

@media min-width 900px and orientation landscape{
body {
background:url(../img/404.jpg) center no-repeat;
background-size:cover;
}

.error-404 {
height:100vh;
width:33.33vw;
display:flex;
justify-content:center;
align-items:center;
color:#D3D3D3;
font-family:var(--font-two);
}

.number {
font-size:30rem;
font-family:var(--font-two);
}

#sorry {
color:var(--dark);
font-size:4rem;
position:fixed;
height:200px;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

#home {
color:var(--dark);
font-size:5rem;
position:fixed;
bottom:0;
height:200px;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
}

.error-404:first-child {
position:fixed;
left:-34vw;
animation:left-to-right 1s ease-in-out forwards;
-webkit-animation:left-to-right 1s ease-in-out forwards;
}

.error-404:nth-child(2) {
position:fixed;
left:33.33vw;
bottom:-100vw;
animation:bottom-to-top 1s ease-in-out forwards;
-webkit-animation:bottom-to-top 1s ease-in-out forwards;
}

.error-404:nth-child(3) {
position:fixed;
left:100vw;
animation:right-to-left 1s ease-in-out forwards;
-webkit-animation:right-to-left 1s ease-in-out forwards;
}

header {
position:fixed;
top:0;
width:100vw;
height:10vh;
display:flex;
justify-content:space-evenly;
background:#FFF;
box-shadow:0 2px 5px var(--dark);
}

#brand {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
font-family:var(--font-one);
font-size:1.8rem;
}

#nav {
height:100%;
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
font-family:var(--font-one);
font-size:2rem;
}

#nav-icon {
display:none;
}

main {
height:90vh;
justify-content:space-evenly;
background:url(../img/login.jpg) bottom no-repeat;
background-size:cover;
margin-top:20vh;
display:flex;
flex-direction:column;
align-items:center;
}

form {
width:33vw;
height:75vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:var(--dark);
color:var(--light);
font-family:var(--font-two);
border-radius:50px;
-webkit-border-radius:50px;
-moz-border-radius:50px;
-ms-border-radius:50px;
-o-border-radius:50px;
}

label {
margin:10px;
}

p {
font-size:1.2rem;
}

h2 {
color:var(--light);
text-align:center;
font-family:var(--font-two);
margin:25px 25px 50px;
}

input {
width:80%;
margin-bottom:25px;
}

input[ type=submit] {
width:100px;
height:100px;
background:#FFF;
border:none;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-ms-border-radius:100px;
-o-border-radius:100px;
font-family:var(--font-two);
}

input[type=submit]:hover {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transition:all .2s;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-ms-transition:all .2s;
-o-transition:all .2s;
}

textarea {
width:80%;
height:25%;
margin-bottom:25px;
}

footer {
display:flex;
height:10vh;
justify-content:space-evenly;
align-items:center;
}

h3 {
font-family:var(--font-one);
}

article a {
font-family:var(--font-three);
}

.article-ctn {
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}

article {
width:24%;
box-shadow:-2px 2px 10px #000;
margin:25px;
padding:30px;
}

a:hover,.fa-star {
color:var(--blue);
}
}

@media min-width 900px{
header {
box-shadow:0 2px 5px #000;
position:fixed;
top:0;
width:100vw;
height:10vh;
display:flex;
font-family:Courgette, cursive;
background:#FFF;
}

#app-title {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

h1,.menu-item {
font-family:Courgette, cursive;
font-weight:100;
font-size:1.8em;
}

.menu-close,.menu-open {
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
}

#menu-icon {
display:none;
}

main {
width:100vw;
height:90vh;
background:url(../img/jobby-image.jpg) center;
background-size:cover;
margin:10vh 15vh 15vh;
}

h2 {
height:25vh;
font-family:'Poller One', cursive;
font-size:3vw;
display:flex;
justify-content:center;
align-items:center;
}

p {
font-family:'Poiret One', cursive;
font-size:3rem;
}

strong,a {
font-family:'Poiret One', cursive;
font-size:3rem;
font-weight:700;
color:#0074B3;
}

#value {
height:25vh;
display:flex;
justify-content:space-evenly;
align-items:center;
font-size:5em;
}

.icon {
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:1em;
}

.text {
font-size:4rem;
margin:0;
}

#slogan-box {
border:3px solid transparent;
width:400px;
height:100px;
background:#FFF;
display:flex;
justify-content:center;
align-items:center;
font-family:Courgette, cursive;
font-size:.9em;
box-shadow:0 10px #000;
border-radius:70px;
-webkit-border-radius:70px;
-moz-border-radius:70px;
-ms-border-radius:70px;
-o-border-radius:70px;
padding:0 25px;
}

.btn-box {
height:25vh;
display:flex;
justify-content:center;
align-items:center;
}

footer {
box-shadow:0 -2px 5px #000;
height:10vh;
display:flex;
justify-content:space-evenly;
align-items:center;
}

#catch-phrase-ctn {
width:50%;
height:100%;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
}

#catch-phrase-box {
width:400px;
height:400px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
background:rgba(255,255,255,0.308);
font-family:'Poller One', cursive;
font-size:.9em;
text-shadow:0 4px #000;
border-radius:100%;
-webkit-border-radius:100%;
-moz-border-radius:100%;
-ms-border-radius:100%;
-o-border-radius:100%;
}

.catch-phrase {
color:#FFF;
}
}

@media min-width 900px and max-width 1370px{
header {
position:fixed;
top:0;
width:100vw;
height:10vh;
display:flex;
font-family:Courgette, cursive;
background:#FFF;
box-shadow:0 2px 5px #000;
}

#app-title {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

.menu-close,.menu-open {
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
}

#menu-icon {
display:none;
}

main {
margin-top:10vh;
}

#catch-phrase-box {
height:25vh;
display:flex;
justify-content:center;
align-items:center;
font-family:'Poller One', cursive;
font-size:2.5em;
width:90vw;
text-align:center;
margin:15vh 5vw 0;
}

#card-ctn {
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}

.card {
height:400px;
width:400px;
box-shadow:-2px 2px 10px #000;
margin:15px;
}

.card h3 {
display:flex;
justify-content:center;
align-items:center;
height:20%;
font-family:Rajdhani, sans-serif;
}

.card img {
height:80%;
width:100%;
}

footer {
height:10vh;
display:flex;
justify-content:space-evenly;
align-items:center;
box-shadow:0 -2px 5px #000;
}

form {
width:90%;
}

h3 {
font-family:'Poller One', cursive;
font-size:1em;
}

#category {
text-align:center;
font-family:Courgette, cursive;
color:#277C9E;
}

.question-ctn {
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
width:80%;
margin:0 10vw 25px;
}

h4 {
width:100%;
height:7.5vh;
display:flex;
align-items:center;
font-family:Courgette, cursive;
color:#277C9E;
font-size:1em;
}

.question-box {
width:100%;
}

.multiple-question-box {
width:100%;
height:4vh;
display:flex;
align-items:center;
}

input[type=text],select,input[type=date],textarea,input[type=submit] {
width:100%;
height:30px;
font-family:Rajdhani, sans-serif;
background:none;
font-size:1em;
}

label {
font-family:Rajdhani, sans-serif;
}

textarea {
height:100px;
width:110%;
}

.submit-box {
height:15vh;
}

#submit {
height:100%;
}
}

@media min-width 1371px{
header {
position:fixed;
top:0;
width:100vw;
height:10vh;
display:flex;
font-family:Courgette, cursive;
background:#FFF;
box-shadow:0 2px 5px #000;
}

#app-title {
width:25%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

.menu-close,.menu-open {
width:75%;
display:flex;
justify-content:space-evenly;
align-items:center;
}

#menu-icon {
display:none;
}

main {
margin-top:10vh;
display:flex;
justify-content:center;
}

#catch-phrase-box {
display:flex;
justify-content:center;
align-items:center;
font-family:'Poller One', cursive;
font-size:2.5em;
height:20vh;
margin:15vh 5vw 0;
}

#card-ctn {
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
padding:75px;
}

.card {
height:400px;
width:400px;
box-shadow:-2px 2px 10px #000;
margin:15px;
}

.card h3 {
display:flex;
justify-content:center;
align-items:center;
height:20%;
font-family:Rajdhani, sans-serif;
}

.card img {
height:80%;
width:100%;
}

footer {
height:10vh;
display:flex;
justify-content:space-evenly;
align-items:center;
box-shadow:0 -2px 5px #000;
}

form {
width:33vw;
}

h3 {
text-align:center;
font-family:'Poller One', cursive;
}

#category {
text-align:center;
font-family:Courgette, cursive;
color:#277C9E;
}

.question-box {
width:100%;
}

.question-ctn {
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
margin-bottom:25px;
}

h4 {
width:33vw;
height:7.5vh;
display:flex;
align-items:center;
font-family:Courgette, cursive;
color:#277C9E;
}

.multiple-question-box {
width:33vw;
height:4vh;
display:flex;
align-items:center;
}

input[type=text],select,input[type=date],textarea,input[type=submit] {
width:100%;
height:30px;
font-family:Rajdhani, sans-serif;
background:none;
font-size:1em;
}

label {
font-family:Rajdhani, sans-serif;
}

textarea {
height:100px;
}

.submit-box {
height:15vh;
}

#submit {
height:100%;
}
}